body {
    background-color: #f3f3f3;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
}

.btn-warning {
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
